<h4 class="modal-title w-100 font-weight-bold">EFS Login Page</h4>

<div>

        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control validate">
          <label data-error="wrong" data-success="right" for="orangeForm-name">UserName</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control validate">
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Your Private Key</label>
        </div>


        <form action="/user">
          <button name="login_to_userhome_Btn" type="submit">Login</button>
        </form>

</div>


